body {
  font-family: "Open Sans",serif;

  @media(max-width: @screen-xs-max) {
		font-size:12px;
	}

}

@media(max-width: @screen-xs-max) {
   h1 { font-size: 24px; }
   h2 { font-size: 18px; }
   h3 { font-size: 12px; }
}

.wrap {
  padding-top: 50px;
  min-height: 900px;
}

.section {
	padding-top:25px;
	padding-bottom:25px;
}

.highlight {
	color:@brand-primary;
}

.reviews {
	background-color:@brand-primary;
}

.reviews h2 {
	color:#fff;
}

/* callout */
.callout-wrap {
  background-color: @brand-primary;
  padding-top:4em;
  padding-bottom:4em;

  .callout {
    text-align:center;
    padding-top:15px;
	color:@text-color-inverse;

    .glyphicon {
  	  font-size:2em;
	  color:@text-color-inverse;
    }

    h2 {
  	  margin-top:5px;
	  color:@text-color-inverse;
    }
	p {
	  color:@text-color-inverse;
    }
  }
}
/* END callout */

/* Clouds */
.cloud {
	width: 350px; height: 120px;
	postion:relative;
	background: #fff;

	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;

	position: relative;
	margin: 120px auto 20px;
	text-align:center;

	&:after, &:before {
	  content: '';
	  position: absolute;
 	  background: #fff;
	  z-index: 1;
	}

	&:after {
		width: 100px; height: 100px;
		top: -50px; left: 50px;

		border-radius: 100px;
		-webkit-border-radius: 100px;
		-moz-border-radius: 100px;
	}

	&:before {
		width: 180px; height: 180px;
		top: -90px; right: 50px;

		border-radius: 200px;
		-webkit-border-radius: 200px;
		-moz-border-radius: 200px;
	}

	.inner {
		position:absolute;
		top:0;
		bottom:0;
		left:10px;
		right:10px;
		z-index:2;
		margin-top:-25px;
	}

	.fa {
		position:absolute;
		display:block;
		left:0;
		top:0;
		bottom:0;
		font-size:5em;
		margin-left:-1.35em;
		margin-top:0.50em;

		color:@secondary;
	}
}
/* END clouds */

/*Form Wizard*/
.bs-wizard-dot {
	position: absolute;
	width: 30px;
	height: 30px;
	display: block;
	background: @primary;
	top: 0;
	bottom:0;
	left:0;
	right:0;

	left: 50%;
	 margin-top: 10px;
	margin-left: -15px;
	border-radius: 50%;
	z-index:5;

	&:after {
		content: ' '; width: 14px; height: 14px; background: #FFF; border-radius: 50px; position: absolute; top: 8px; left: 8px;
	}
}

.bs-wizard {
	border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;
	margin-top:25px;

	& > .bs-wizard-step {
		padding: 0;
		position: relative;

		& + .bs-wizard-step {}

		.bs-wizard-step-inner {
			position: relative;
			height:40px;

			.bs-wizard-stepnum {
				color: #595959;
				font-size: 16px;
				margin-bottom: 5px;
			}

			.bs-wizard-info {
				color: #999;
				font-size: 14px;
			}

			.progress {
				position: absolute;
				width:100%;
				border-radius: 0px;
				height: 8px;
				box-shadow: none;
				margin: 20px 0;

				.progress-bar {
					width:0px;
					box-shadow: none;
					background: @primary;
				}

			}


		}

		&.complete > .bs-wizard-step-inner .progress .progress-bar {
			width:100%;
		}
		&.active > .bs-wizard-step-inner .progress .progress-bar {
			width:50%;
		}

		&.disabled > .bs-wizard-step-inner > .bs-wizard-dot {
			background-color: #f5f5f5;

			&:after {
				opacity: 0;
			}
		}

		&:first-child.active.bs-wizard-step > .bs-wizard-step-inner .progress .progress-bar {
			width:0%;
		}

		&:last-child.active.bs-wizard-step > .bs-wizard-step-inner .progress .progress-bar {
			width:100%;
		}

		&:first-child > .bs-wizard-step-inner > .progress {
			left: 50%;
			width: 50%;
		}

		&:last-child.bs-wizard-step > .bs-wizard-step-inner .progress {
			width: 50%;
		}
	}

	@media(max-width: @screen-xs-max){
		.bs-wizard-stepnum {
			font-size:0.7em;
		}
	}
	@media(max-width: @screen-sm-min){
		.bs-wizard-stepnum {
			font-size:0.8em;
		}
	}
}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }

/*END Form Wizard*/


/* navbar */
.navbar {
  border: none;
  .box-shadow(0 1px 2px rgba(0,0,0,.3));

  &-brand {
    font-size: 24px;
    padding:5px;

    img {
      height:54px;
    }
  }

  &-inverse {
    .form-control {
      color: #fff;
      .placeholder(@navbar-inverse-link-color);

      &[type=text] {
        .box-shadow(inset 0 -1px 0 @navbar-inverse-link-color);

        &:focus {
          .box-shadow(inset 0 -2px 0 #fff);
        }
      }
    }
  }
}
/* END navbar */

/* Hero Unit */
.image-hero {
    background-image: url('../img/couplegettingcarkeys_14151557.jpg');
  	background-position: right top;
  	min-height: 384px;
  	height: 827px;
  	background-size: cover;
  	padding-top: 107px;
	margin-bottom:90px;

	h1, p {
		color: #fff;
		  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	}

	.btn {
		margin:5px;
		&:hover {
	      color:#fff;
	   }
	}

	a {
	   color:#FFF;
	   text-decoration:none;
	   &:hover {
	      color:@secondary;
	   }
	}

  @media(max-width: @screen-sm-min){
  		height: 527px;
  }
	@media(max-width: @screen-xs-max) {
		height: 327px;
	}
}
/* END Hero Unit */

/* Transitions */
.btn {
	-webkit-transition: all 0.4s; /* Safari */
    transition: all 0.4s;
	transform: scale(1.0);

	&:hover {
		transform: scale(1.2);
	}
}

.navbar a {
	-webkit-transition: all 0.4s; /* Safari */
    transition: all 0.4s;
}

#extras .panel {
	.panel-primary;
	margin-bottom:25px;

	a:not(.collapsed) .glyphicon-chevron-down { display: none; }
	.collapsed .glyphicon-chevron-down { display: inline-block; }
}

#extras .panel-title a {
  display: block;
  margin:-15px;
  padding:15px;
}

.extras {
	padding:0;

	.radio,.checkbox {
		margin:0px;
	}

	table {
		padding-bottom:0;
		margin-bottom:0px;

		tr td {
			line-height:50px;
			vertical-align:middle;
		}

		.extras-line {
			width:1px;
			padding:2px;
		}

		.extras-radio {
			width:50px;
			text-align:center;
			vertical-align:middle;
			position:relative;

			.box {
				position:absolute;
				display:block;
				width:25px;
				height:25px;
				border:solid 3px #999;
				border-radius:15px;
				top:20px;
				bottom:0px;

				&:before {
					content:' ';
					position:relative;
					width: 13px;
					height: 13px;
					margin-bottom: 14px;
					border-radius: 15px;
					display:inline-block;
					background-color:#FFF;
					display:none;
				}
			}
		}

		.extras-checkbox {
			width:50px;
			text-align:center;
			vertical-align:middle;
			position:relative;

			.box {
				position:absolute;
				display:block;
				width:25px;
				height:25px;
				border:solid 3px #999;
				border-radius:3px;
				top:20px;
				bottom:0px;

				.glyphicon {
					position:relative;
					font-size:1.7em;
					top:-10px;
					color:@primary;
					display:none;
				}
			}
		}


		.extras-price {
			width:15%;
			text-align:right;
		}
	}

	input {
		position:absolute;
	   margin-left:-99999px !important;
	}

	label {
		width:100%;
		display:block;
		padding-left: 0px;
	}

	label:hover .box:before {
		background-color:#999;
		display:inline-block;
	}

	label:hover .box .glyphicon {
		display:inline-block;
		color:#999;
	}

	label.selected {
		.box {
			border-color:@primary;

			.glyphicon {
				display:inline-block;
				color:@primary;
			}
		}

		.box:before {
			background-color:@primary;
			display:inline-block;
		}

		.extras-line {
			background-color:@secondary;
		}
	}
}

#engines a.no-style {
   color:#333;
}

/* Background box */
/*.section-image:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top:0;
  z-index: -1;

  display: block;
  background-image: url('http://www.colusacasino.com/wp-content/uploads/Driving-Directions-Header.jpg');
  width: 100%;
  height: 300px;
  background-size:cover;

  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

.section-image:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top:0;
  bottom:0;
  background-color:fade(@primary,70%);
  z-index: -1;
}

.section-image {
  position:relative;
  left: 0;
  right: 0;
  z-index: 5;
  height:300px;
  overflow: hidden;
  color:#FFF;
  h2 {
	color:#fff;
  }
}*/
/* ./Background box */

.section-image:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top:0;
  z-index: -1;

  display: block;
  background-image: url('http://www.colusacasino.com/wp-content/uploads/Driving-Directions-Header.jpg');
  width: 100%;
  height: 300px;
  background-size:cover;

  -webkit-filter: blur(2px) opacity(25%);
  -moz-filter: blur(2px) opacity(25%);
  -o-filter: blur(2px) opacity(25%);
  -ms-filter: blur(2px) opacity(25%);
  filter: blur(2px) opacity(25%);

  background-position: 0 -150px;
  @media(max-width: @screen-md-max){
		background-position: 0 0px;
  }
}

.section-image {
  position:relative;
  left: 0;
  right: 0;
  z-index: 5;
  overflow: hidden;
}

.works .glyphicon {
	font-size:3em;
	color:@secondary;
}

.txt-collaspe {
	height: 105px;
    overflow: hidden;
	-webkit-transition: all 0.4s; /* Safari */
    transition: all 0.4s;
}

.expanded .txt-collaspe {
	height:auto;
	overflow:auto;
}

.more-btn {
	display:block;
	padding:5px;
	text-align:center;
	background-color:fade(#FFF,90%);
	margin-left:-15px;
	margin-right:-15px;
	margin-top:-15px;
	font-weight:bold;
}

/* Footer */
.footer-wrap {
  background-color: darken(@primary, 15%);
  padding:15px;

  .footer {
    color:#FFF;
    font-size: 0.9em;

    .title {
      font-weight: bold;
      padding-bottom:20px;
	    padding-top:10px;
    }

    h5 {
      margin:0px;
    }

    ul {
      list-style: none;

      li {
        padding-top:10px;
		    font-size:1em;
      }
    }
    a {
      color:#FFF;

      &:hover {
        text-decoration: none;
        color:@secondary;
      }
    }
  }
}
/* ./Footer */

/* Footer Note */
.foot-note-wrap {
  padding:15px;
  background-color: darken(@primary, 30%);
  color:#FFF;
  font-weight: bold;
  font-size: 1.2em;

  .txt {
    display:inline-block;
    float:left;
    padding-top:5px;
    padding-right:10px;
  }

  .bdg {
    font-size: 1.5em;
    border-radius: 1.5em;
    padding:7px;
    padding-top:5px;
    padding-bottom: 0px;
  }

  .fb {
    background-color: #3B5998;
  }
  .tw {
    background-color: #4099FF;
  }
}
/* ./Footer Note */

/* Basic styles */
.content-wrap {
  padding-top:51px;
}

.request-row {
  margin-bottom: 14px;
}

.dropdown-request {
  margin: 13px 0;
  padding: 5px;
  height: 100%;
}

/* Offers */
.c-wrap {
}

.offer {
  display:block;
  cursor:pointer;
  margin-top:50px;
  padding:20px;
  border:#ccc solid 1px;
  border-top:@primary solid 8px;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 1px 1px #fefefe;

  &:hover {
    background-color: darken(#fff,0.80%);
  }

  .highlight {
    margin-top: -58px;
    margin-left: -20px;
    position:absolute;
    background-color:lighten(#F00, 45%);
    color:lighten(#F00, 25%);
    padding:5px 10px;
    font-weight: bold;
  }

  .btn {
    position:relative;
    margin-right:10px;
    margin-top:15px;

    .badge {
      position:absolute;
      top:-5px;
      background-color:@primary;
      color:#fff;
    }
  }
}
/* ./Offers */

span.txt {
  display:block;
  color:#aaa;
  padding-bottom: 3px;

  &.callout {
    color:@primary;
    font-weight:bold;

    .glyphicon {
        color:#aaa;
        font-size: 1.2em;
        padding-right:5px;
    }
  }

  .glyphicon-ok {
    color:@secondary;
    padding-right:5px;
  }

  &.price {
    font-size: 2em;
    color:@primary;
    font-weight: bold;
  }

  &.saving {
    font-size: 1.3em;
    color:@secondary;
    font-weight: bold;
  }
}

/* Offer Details */
.details-header {
  padding-top:13px;
  background-color: lighten(@primary,10%);
}

.details-header ul {
  display: table;
  width: 100%;
  list-style: none;
  border:#fff solid 1px;
  padding-left: 0px;
  margin-bottom:0px;
}
.details-header ul li {
  display: table-cell;
  text-align: center;
}
.details-header ul li a {
  display: block;
  padding:15px 8px;
  background-color: lighten(@primary,10%);
  color:#FFF;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

.details-header ul li a:hover, .details-header ul li.active a {
  background-color: @primary;
}

.details-header ul li {
  border-left:#ccc solid 1px;
}
.details-header ul li:first-child {
  border:none;
}
/* ./Offer Details */

/* Slides */
.slides {
  width:100%;
  overflow:hidden;
  position:relative;

  .slide-wrap {
    width:300%;
    min-height: 100px;
    -webkit-transition: margin-left 0.5s; /* Safari */
    transition: margin-left 0.5s;

    .slide {

      float:left;
      width:33.333%;
      padding-top:10px;
    }
  }
}

.slides.slide_1 .slide-wrap { margin-left: 0px; }
.slides.slide_2 .slide-wrap { margin-left: -100% }
.slides.slide_3 .slide-wrap { margin-left: -200% }
/* ./Slides */

/* Messages */
.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}


/* ./Messages */

.avatar-img {
  border:2px @primary solid;
}

.faqHeader {
	font-size: 2em;
	margin: 20px;
}

.panel-heading [data-toggle="collapse"]:after {
	font-family: 'Glyphicons Halflings';
	content: "\e080"; /* "play" icon */
	float: right;
	color: @secondary;
	font-size: 18px;
	line-height: 22px;
	/* rotate "play" icon from > (right arrow) to down arrow */
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.panel-heading [data-toggle="collapse"].collapsed:after {
	/* rotate "play" icon from > (right arrow) to ^ (up arrow) */
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
	color: #FFF;
}
