@primary: #59628c; /*#128FFF;*/
@secondary: #98d06e;/*#FF9500;*/
@altprimary: #4220FF;
@accent: #00FF6F;

@brand-primary: @primary;

@text-color-inverse: #FFFFFF;

@font-family-sans-serif:  Raleway, sans-serif;

// Basics of a navbar
@navbar-height:                    64px;
@navbar-margin-bottom:             @line-height-computed;
@navbar-border-radius:             @border-radius-base;
@navbar-padding-horizontal:        floor((@grid-gutter-width / 2));
@navbar-padding-vertical:          ((@navbar-height - @line-height-computed) / 2);
@navbar-collapse-max-height:       340px;

@navbar-default-color:             #fff;
@navbar-default-bg:                #fff;
@navbar-default-border:            transparent;

// Navbar links
@navbar-default-link-color:                @gray;
@navbar-default-link-hover-color:          #fff;
@navbar-default-link-hover-bg:             @primary;
@navbar-default-link-active-color:         #fff;
@navbar-default-link-active-bg:            @altprimary;
@navbar-default-link-disabled-color:       #ccc;
@navbar-default-link-disabled-bg:          transparent;

// Navbar brand label
@navbar-default-brand-color:               @navbar-default-link-color;
@navbar-default-brand-hover-color:         @primary;
@navbar-default-brand-hover-bg:            transparent;

// Navbar toggle
@navbar-default-toggle-hover-bg:           transparent;
@navbar-default-toggle-icon-bar-bg:        rgba(0,0,0,0.5);
@navbar-default-toggle-border-color:       transparent;


// Inverted navbar
// Reset inverted navbar basics
@navbar-inverse-color:                      @gray-light;
@navbar-inverse-bg:                         @primary;
@navbar-inverse-border:                     transparent;

// Inverted navbar links
@navbar-inverse-link-color:                 lighten(@primary, 30%);
@navbar-inverse-link-hover-color:           #fff;
@navbar-inverse-link-hover-bg:              transparent;
@navbar-inverse-link-active-color:          @navbar-inverse-link-hover-color;
@navbar-inverse-link-active-bg:             darken(@navbar-inverse-bg, 10%);
@navbar-inverse-link-disabled-color:        #444;
@navbar-inverse-link-disabled-bg:           transparent;

// Inverted navbar brand label
@navbar-inverse-brand-color:                @navbar-inverse-link-color;
@navbar-inverse-brand-hover-color:          #fff;
@navbar-inverse-brand-hover-bg:             transparent;

// Inverted navbar toggle\
@navbar-inverse-toggle-hover-bg:            transparent;
@navbar-inverse-toggle-icon-bar-bg:         rgba(0,0,0,0.5);
@navbar-inverse-toggle-border-color:        transparent;

//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

@btn-font-weight:                normal;

@btn-default-color:              #fff;
@btn-default-bg:                 @primary;
@btn-default-border:             #fff;

@btn-primary-color:              #fff;
@btn-primary-bg:                 @secondary;
@btn-primary-border:             #fff;
