<ul>
  <li class="col-nav" data-did="5"><a href="#">Test</a></li>
  <li class="col-nav" data-did="5"><a href="#">Test 2</a></li>
  <li class="col-nav" data-did="5"><a href="#">Test 3</a></li>
  <li class="col-nav" data-did="5"><a href="#">Test 4</a></li>
  <li class="col-nav" data-did="5"><a href="#">Test 5</a></li>
</ul>
